# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env/

# Ignore data files
/data/*
!/data/.gitkeep

# Ignore Jupyter Notebooks and Notebook checkpoints
/notebooks/*
!notebooks/.gitkeep
**/.ipynb_checkpoints/

# Ignore metadata generation
create_project_structure.py
generate_readme_info.py
README_template.md

# Ignore system files
.DS_Store
Thumbs.db
